//Couleurs
$primary-color: #0074c7;
$secondary-color: #00497c;
$light-color: #f1f8fc;
$dark-color: #384050;
$danger-color: #cd2c2e;
$succes-color: #82b864;

//Importation bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


//Boutons
    // Boutons liés a la connexion
    .btn-connect{
        text-decoration: none;
        padding:8px;
        background-color: $dark-color ;
        color:$light-color;
        border:none;
        border-radius:4px;
        cursor:pointer;
        &:hover{
            background-color: rgba($color: $dark-color, $alpha: 0.85);
        }
    }

    //Boutons liés au menu
    .btn-menu{
        text-decoration: none;
        padding:8px;
        background-color: $primary-color ;
        color:$light-color;
        border:none;
        border-radius:4px;
        cursor:pointer;
        &:hover{
            background-color: rgba($color: $primary-color, $alpha: 0.85);
        }
    }
    //Bouton d'enregistrement
    .btn-save{
        text-decoration: none;
        background-color: $dark-color ;
        color:$light-color;
        font-weight: 500;
        border:none;
        border-radius:4px;
        cursor:pointer;
        &:hover{
            background-color: rgba($color: $dark-color, $alpha: 0.85);
        }
    }

    //Bouton d'annulation
    .btn-cancel{
        text-decoration: none;
        background-color: $danger-color;
        color:$light-color;
        font-weight: 500;
        border: solid 2px $dark-color;
        border-radius:4px;
        cursor:pointer;
        &:hover{
            background-color: rgba($color: $danger-color, $alpha: 0.85);
        }
    }
//Fin Bouton



//Header
.navbar{
    background-color: $light-color;
    border-bottom: solid 3px $primary-color;
    .header-container{
        .title{
        color: $secondary-color;
        }

        .header-right{
            .text{
            color: $secondary-color;
            font-weight: 500;
            }
        }
    }
}



// Footer
.footer{
    color: $dark-color;
    font-weight: 500;
}



//Page de connexion
.page-connexion{
    background-color: $light-color;
    .container-connexion{
        .login-box {
            width: 100%;
            max-width: 400px;
            border: solid 5px $primary-color;
            border-radius: 8px;
            background-color:$light-color;
            box-shadow: 10px 5px 5px $dark-color;
            
            .connexion-title{
                color: $secondary-color;
                text-decoration: underline $danger-color;
            }
            .form-label{
                color: $primary-color;
                font-weight: 600;
            }
        } 
    }
}



//Pages réutilisable
    //Tableau commun des listes
    .list{
        background-color: $light-color;
        .container-list{
            .title-list{
                color: $secondary-color;
            }
        }
    }    
    .table-list {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;

        .table-head {
            background-color: $dark-color;
            color: #fff;

            th {
                padding: 0.75rem;
                text-align: center;
                vertical-align: middle;
                border: 1px solid darken($dark-color, 5%);
                font-weight: 600;
                font-size:18px;
            }
        }

        .table-body {
            tr {
                transition: background-color 0.15s ease-in-out;

                td {
                    padding: 0.75rem;
                    text-align: center;
                    vertical-align: middle;
                    border: 1px solid $border-color;
                    font-weight: 500;
                }
            }

            // STRIPED personnalisé
            tr:nth-of-type(odd) {
                background-color:rgba($primary-color, 0.4);
            }

            tr:nth-of-type(even) {
                background-color: #fff;
            }
        }
    }


    //Formulaire type de création ou modification
    .form-admin {
        max-width: 700px;
        background-color: $light-color;
        padding: 2.5rem;
        border-radius: 0.75rem;
        border: solid 2px $primary-color;
        box-shadow: 10px 5px 5px $dark-color;

        .row {
                margin-bottom: 1.25rem;
        }

        .col-form-label {
            font-weight: 600;
            color: $secondary-color;
            font-size: 18px;
        }

        .form-control,
        .form-select {
            border-radius: 0.4rem;
            border: 2px solid $primary-color;

            &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 0.15rem rgba(0, 116, 199, 0.25);
            }
        }
    }
//Fin page réutilisable



//Partie spécifique utilisateur connecté et visiteur
    // Modification trajet (utilisateur connecté)
    .edit{
        background-color: $light-color;
        .container{
            .edit-title{
                color: $secondary-color;
            } 
        }
    }

    //Création trajet
    .create{
        background-color: $light-color;
        .create-title{
            color: $secondary-color;
        }
    }
    .info-user {
        background-color: lighten($primary-color, 45%);
        border-left: 5px solid $primary-color;
        border-right: 5px solid $primary-color;
        width: 100%;
        max-width: 700px;
        .create-title{
            color: $secondary-color;
        }
        p {
            margin-bottom: 0.3rem;
        }
    }
//Fin partie spécifique utilisateur connecté et visiteur



// Partie spécifique Admin
    // Dashboard 
    .dashboard{
        background-color: $light-color;
        .dashboard-case{
            border: 4px solid $danger-color;
            border-radius: 8px;
            .dashboard-title{
                color: $secondary-color;
            }
            .dashboard-description{
                color: $primary-color;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    //List Agence : Boutton création agence
    .agence{
        .btn-agence{
            text-decoration: none;
            background-color: $dark-color ;
            color:$light-color;
            font-weight: 500;
            font-size: 18px;
            border:none;
            border-radius:4px;
            cursor:pointer;
            &:hover{
                background-color: rgba($color: $dark-color, $alpha: 0.85);
            }
        }
    }

    // Modification trajet
    .edit-agence{
        background-color: $light-color;
        .container{
            .edit-agence-title{
                color: $secondary-color;
            } 
        }
    }

    // Création d'un trajet 
     .create-agence{
        background-color: $light-color;
        .container{
            .create-agence-title{
                color: $secondary-color;
            } 
        }
    }
    
